<h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-block">
    <label>ユーザ名</label>
  <%= f.text_field :username, autofocus: true, class: "form-control" %>

  <label>パスワード</label>
  <%= f.password_field :password, autocomplete: "off", class: "form-control" %>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label "パスワードを記憶" %></div>
  <% end -%>

  <input type="text" id="regId" name="regId" style="display: none;">
  <p><%= f.submit "ログイン", class: "btn btn-success btn-lg btn-block"%></p>
<% end %>

<a href="sign_up" class="btn btn-lg btn-block btn-warning">新規登録</a>
