<!DOCTYPE html>
<html lang="ja">
<head>
  <title>GrouperServer</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <% if notice %>
   <div class="alert alert-success" role="alert"><%= notice %></div>
  <% end %>
  <% if alert %>
    <div class="alert alert-danger" role="alert"><%= alert %></div>
  <% end %>

  <div class="container">
      <%= yield %>
    </div>
  <!-- こんな所に書くなんて人としてどうかと思ってます。 -->
  <!-- talkにアクセスした瞬間最下部にスクロールします。 -->
  <script>
    $(window).load(function(){
      function footerStart(selector){
        $('html,body').animate({scrollTop: $(selector).offset().top},'slow');
      };
      footerStart("#talk_fin");
    });
  </script>
</body>
</html>
