<!DOCTYPE html>
<html>
<head>
  <title>GrouperServer</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
  <% if notice %>
     <p><%= notice %></p>
  <% end %>
  <% if alert %>
    <p><%= alert %></p>
  <% end %>

    <%= yield %>  
    <br>
    <!-- アプリ側で実装予定(上部タブ) -->
    <%= link_to "トップへ", root_path, class: "btn btn-primary" %>
</body>
</html>
