<!DOCTYPE html>
<html lang="ja">
<head>
  <title>GrouperServer</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <% if notice %>
    <div class="alert alert-success" role="alert"><%= notice %></div>
    <% end %>
  <% if alert %>
    <div class="alert alert-danger" role="alert"><%= alert %></div>
    <% end %>

  <div class="container">
    <%= yield %>
  </div>

  <script>
    var len;
    $(function(){
        // 新しいトークがあったら最下部に移動 
        len = $("tbody").children().length;
        check = setInterval("getTr()", 100);

        // あたかもuploadボタンが押されたかのような
        $('#btnUpload').click(function(){
          $('#exampleInputFile').click();
        });
 
        //upload check
        $('#exampleInputFile').change(
          function() {
            if ( !this.files.length ) {
              return;
            }

            var file = $(this).prop('files')[0];
            var fr = new FileReader();
            fr.onload = function() {
              $('#preview').attr('src', fr.result ).css({'display':'inline', 'width':'200px'});
            }
            fr.readAsDataURL(file);
          }
        );

        // カルーセルパネルを利用
        $('.carousel').carousel({
            interval: 5000
         })

        // collapseを利用
        $('.collapse').collapse()

        // トークがemptyではないか確認
        sendCheck = setInterval("sendDisabled()", 10);
  });
  // 新しいトークがあればスクロール
  function getTr() {
    var lenI = $("tbody").children().length;
    if(len != lenI) {
       $('html,body').animate({scrollTop: $("#talk_fin").offset().top},'slow');
       len = lenI;
     }
   }

  // トークがemptyではないか確認
  function sendDisabled() {
    if($("input[class='form-control talk-send']").val() == '') {
      $('#send').attr('disabled', true);
    }else{
      $('#send').attr('disabled', false);
    }
  }
  </script>
  </body>
  </html>
