<!DOCTYPE html>
<html>
<head>
  <title>GrouperServer</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <% if notice %>
    <div class="alert alert-success" role="alert"><%= notice %></div>
    <% end %>
  <% if alert %>
    <div class="alert alert-danger" role="alert"><%= alert %></div>
    <% end %>

  <div class="container">
    <%= yield %>
  </div>

  <script>
    $(function(){
        // 新しいトークがあったら最下部に移動 
        // 上にスクロールできない致命的なプログラム
        setInterval(function(){
          $('html,body').animate({scrollTop: $('#talk_fin').offset().top},'slow');
        });
        // 
        $('#btnUpload').click(function(){
          $('#exampleInputFile').click();
          });
    })();
  </script>
  </body>
  </html>
