<!DOCTYPE html>
<html>
<head>
  <title>GrouperServer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if notice %>
    <p><%= notice %></p>
  <% end %>
  <% if alert %>
    <p><%= alert %></p>
  <% end %>

<%= yield %>

<br>
<%= link_to "Top", root_path %>
</body>
</html>
