<h1>ユーザ一覧</h1>

<strong>グループ名:</strong><%= @group.name %>
<table>
  <thead>
    <tr>
      <th>ユーザ</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= user_email(member.user_id) %></td>
        <td><%= link_to '詳細', member %></td>
        <td><%= link_to '退会させる', member, method: :delete, data: { confirm: '本当に退会させますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'メンバーを追加する', new_member_path %>
