<h1>ユーザ一覧</h1>

<strong><%= @group.name %></strong>
<!--
<table>
  <thead>
    <tr>
      <th>ユーザ</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= user_email(member.user_id) %></td>
        <td><%= link_to '詳細', member %></td>
        <td><%= link_to '退会させる', member, method: :delete, data: { confirm: '本当に退会させますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
-->
<ul>
<% @members.each do |member| %>
  <li><%= user_email(member.user_id) %></li>
<% end %>  
</ul>

<%= link_to 'メンバー追加', new_member_path, class: "foot add_user btn btn-warning btn-lg btn-block" %>
<%= link_to '戻る', group_path, class: "foot btn btn-default btn-lg btn-block" %>
