<!--
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td><%= board.title %></td>
        <td><%= board.description %></td>
        <td><%= link_to 'Show', board %></td>
        <td><%= link_to 'Edit', edit_board_path(board) %></td>
        <td><%= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
-->

<div id="board" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#board" data-slide-to="0" class="active"></li>
    <li data-target="#board" data-slide-to="1"></li>
    <li data-target="#board" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag('carousel.png', style: 'width: 90%') %>
      <div class="carousel-caption">
        hoge
      </div>
    </div>
    <% @boards.each do |board| %>
      <div class="item">
        <%= image_tag('carousel.png', style: 'width: 90%') %> 
        <div class="carousel-caption">
          <h3><%= board.title %></h3>
          <p><%= board.description %></p>
          <p class="board board-edit"><%= link_to 'Show', board %> <%= link_to 'Edit', edit_board_path(board) %> <%= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
      </div>

    <% end %>
  </div>

  <a class="left carousel-control" href="#board" role="button" data-slide="prev"><</a>
  <a class="right carousel-control" href="#board" role="button" data-slide="next">></a>
    <span class="glyphicon glyphicon-forward"></span></a>
</div>

  <%= link_to 'New Board', new_board_path %>
