<div id="board" class="carousel slide" data-ride="carousel">
  <!--
  <ol class="carousel-indicators">
    <li data-target="#board" data-slide-to="0" class="active"></li>
    <li data-target="#board" data-slide-to="1"></li>
    <li data-target="#board" data-slide-to="2"></li>
  </ol>
  -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag('carousel.png', style: 'width: 70%') %>
      <div class="carousel-caption">
        <h3 class="board-top">災害時掲示板</h3>
      </div>
    </div>
    <% @boards.each do |board| %>
      <div class="item">
        <%= image_tag('carousel.png', style: 'width: 70%') %> 
        <div class="carousel-caption">
            <div class="board board-main">
              <h3 class="board board-title"><%= board.title %></h3>
              <p class="board board-description"><%= board.description %></p>
            </div>
        </div>
      </div>
    <% end %>
  </div>

  <a class="left carousel-control" href="#board" role="button" data-slide="prev"><</a>
  <a class="right carousel-control" href="#board" role="button" data-slide="next">></a>
</div>

  <%= link_to '新しい掲示板', new_board_path, class: "btn btn-lg btn-block btn-primary" %>
  <%= link_to '掲示板の編集', "boards/edit_index", class: "btn btn-lg btn-block btn-success" %>
