<p>
  <strong>タイトル</strong>
  <%= @board.title %>
</p>

<p>
  <strong>詳細</strong>
  <%= @board.description %>
</p>

<p>
  <strong>グループID</strong>
  <%= @board.group_id %>
</p>

<%= link_to '編集', edit_board_path(@board) , class: "btn btn-block btn-lg btn-success" %>
<%= link_to '戻る', boards_path, class: "btn btn-block btn-lg btn-default" %>
