<h1 class="group-desc"><%= @group.name %></h1>
<h2 class="group-desc"><%= @group.description %></h2>

<!--
<p>
<strong>作成者</strong><br>
<%= user_email(@group.user_id) %>
</p>

<p>
<strong>詳細</strong><br>
<%= @group.description %>
</p>
<p>
<strong>招待コード</strong>  <%= @group.id %>
</p>
-->
<div class="row">
  <div class="col-sm-12">
    <p><%= link_to 'トーク', {:action=>"index", :controller=>"talk", :anchor=>"talk_fin"}, class: "btn btn-warning btn-lg btn-block" %></p>
  </div>
  <div class="col-xs-6">
    <p><%= link_to 'メンバー', members_path, class: "btn btn-primary btn-lg btn-block" %>
  </div>
  <div class="col-xs-6">
    <%= link_to '設定', edit_group_path(@group), class: "btn btn-success btn-lg btn-block" %></p>
  </div>
  <div class="col-xs-12">
    <p><%= link_to '戻る', groups_path, class: 'btn btn-default btn-lg btn-block' %></p>
  </div>
</div>

