<p id="notice"><%= notice %></p>

<p>
  <strong>グループ名:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>作成者:</strong>
  <%= user_email(@group.user_id) %>
</p>

<p>
  <strong>詳細:</strong>
  <%= @group.description %>
</p>

<p>
  <strong>招待コード:</strong>
  <%= @group.id %>
</p>

<p> 
  <%= link_to 'メンバー', members_path %>
</p>

<p> 
<%= link_to 'トーク', talk_index_group_path %>
</p>

<%= link_to '設定', edit_group_path(@group) %> |
<%= link_to '戻る', groups_path %>
