<div class="talk container">
<% @talks.each do |talk| %>
  <%= user_email(talk.user_id) %> 「<%= talk.talk %>」
  <br>
<% end %>
<div id="uid" style="display:none;"><%= current_user.id %></div>
<div id="gid" style="display:none;"><%= @group.id %></div>

<div id="row">
<%= form_tag('new', remote: true, class: "talk_form") do %>
  <%= text_field_tag :talk, "", id: "text" %>
  <%= submit_tag "送信", id: "send", class: "btn btn-primary" %>
<% end %>
</div>
<script src="/talk.js"></script>

