<div class="talk_page">
  <table class="talk_table">
    <tbody class="talk_tbody">
      <% @talks.each do |talk| %>
        <tr class="talk_user_name">
          <th colspan="3"><%= user_email(talk.user_id) %></th>
        </tr>
        <tr class="talk_body">
          <th class="user">
            <p><%= image_tag 'dummy.png', class: 'img-circle user-img', style: 'width: 50px; height: 50px;' %>
          </th>
          <th class="content">
            <% if talk.content_type == "0" %>
              <p><%= talk.talk %></p>
            <% elsif talk.content_type == "1" %>
              <img src="/img/talk/<%= talk.id %>" style="height: 100px; " >
            <% else %>
              <a class="map-link" href="https://www.google.co.jp/maps/place/<%= talk.talk %>"><%= talk.talk %></a>
            <% end %>
          </th>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div id="talk_fin"></div>
  <div id="uid" style="display:none;"><%= current_user.id %></div>
  <div id="gid" style="display:none;"><%= @group.id %></div>
  <div class="row">
    <%= form_tag('new', remote: true, class: "foot", onSubmiti: "checkEmpty") do %>
    <div class="form-group">
      <div class="col-xs-2">
      <div class="btn btn-success"><a class="add-file">+</span></div>
    </div>
      <div class="col-xs-7 talk_message">
        <%= text_field_tag :talk, "", id: "text", class: "form-control" %>
      </div>
      <div class="col-xs-3">
      <%= submit_tag "送信", id: "send", class: "btn btn-primary" %>
    </div>
    </div>
  </div>
  <% end %>
    <div class="form-group">
      <%= form_tag('new_image', remote: true, multipart: true) do %>
        <img src="" id="preview" style="display:none";>
        <%= file_field :upload, :file , id: "exampleInputFile", style: "display:none;" %>
        <a id="btnUpload" class="easyui-linkbutton btn btn-lg btn-primary" data-options="iconCls:'icon-save'">選択</a> 
        <%= submit_tag "送信", class: "btn btn-success btn-lg" %>
      <% end %>
    </div>
    <%= form_tag('get_address', remote: true) do %>
      <%= text_field :lat, nil, id: "lat" %>
      <%= text_field :lng, nil, id: "lng" %>
      <%= submit_tag "位置情報取得", class: "btn btn-primary" %>
    <% end %>
    <%= form_tag('new_address', remote: true) do %>
      現在地: 
      <%= text_field_tag :talk, "", id: "address" %>
      <%= submit_tag "送信", class: "btn btn-primary" %>
    <% end %>
  <div id="footer"></div>
  <div class="talk_bottom"></div>
  <script src="/talk.js"></script>
  <script src="/position.js"></script>
</div>
