<% content_for :map do %>
  <!-- for Google Map -->
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map_canvas { height: 100% }
  </style>
  <script type="text/javascript"
src="http://maps.google.com/maps?file=api&v=3&key=AIzaSyAcMtEHyg4r44WIv9bAq2K-3AUPQECcwOk" charset="utf-8">
  </script>
  <script type="text/javascript">
  function initialize() {
    var myLatlng = new google.maps.LatLng(35.08430389, 134.01238667);
    var mapOptions = {
      center: myLatlng,
      zoom: 15,
      mapTypeId: google.maps.MapTypeId.ROADMAP

    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
      mapOptions);
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: ""
    });
  }
  </script>
<% end %>

<%= form_for(@otoku) do |f| %>
  <% if @otoku.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@otoku.errors.count, "error") %> prohibited this otoku from being saved:</h2>

      <ul>
      <% @otoku.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    建物名、地名<br />
    <%= f.text_field :place %>
  </div>
  <div class="field">
    イベント情報<br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    期間<br />
    <%= f.datetime_select :period %>
  </div>
  <body onload="initialize()">
    <div id="map_canvas" style="width:320px; height:200px"></div>

    <script type="text/javascript">
    //<![CDATA[

    if (GBrowserIsCompatible()) {
      var map = new GMap2(document.getElementById("map_canvas"));
      map.setCenter(new GLatLng(35.08430389, 134.01238667), 15);
    }

    GEvent.addListener(map, 'click', function(overlay, point) {
      if (point) {
        document.getElementById("otoku_x").value = point.x;
        document.getElementById("otoku_y").value = point.y;
      }
    });

    //]]>
    </script>
  <div class="field">
    経度<br />
    <%= f.text_field :x %>
  </div>
  <div class="field">
    緯度<br />
    <%= f.text_field :y %>
  </div>
  <div class="actions">
    <%= f.submit "投稿", class: "btn btn-success" %>
  </div>
<% end %>
