<h1>お得情報</h1>

<table class="table">
  <tr>
    <th>場所</th>
    <th>内容</th>
    <th>期間</th>
  </tr>

<% @otokus.each do |otoku| %>
  <tr onclick="document.location = '/otokus/<%= otoku.id %>' ">
    <td><%= otoku.place %></td>
    <td><%= otoku.name %></td>
    <td><%= otoku.period.strftime("%Y %m/%d %H:%M") %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '投稿する', new_otoku_path, class: "btn btn-success" %>
